<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template name</title>

    <!-- inject:css-->

    <link rel="stylesheet" href="../assets/vendor_assets/css/bootstrap/bootstrap.css">

    <link rel="stylesheet" href="../style.css">

    <!-- endinject -->

    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.ico">
</head>
<body>
     {% block content %}
lol
     {% endblock content %}


     <!-- inject:js-->

     <script src="../assets/vendor_assets/js/jquery/jquery-3.5.1.min.js"></script>

     <script src="../assets/vendor_assets/js/jquery/jquery-ui.js"></script>

     <script src="../assets/vendor_assets/js/bootstrap/popper.js"></script>

     <script src="../assets/vendor_assets/js/bootstrap/bootstrap.min.js"></script>

     <script src="../assets/vendor_assets/js/moment/moment.min.js"></script>

     <script src="../assets/theme_assets/js/main.js"></script>

     <!-- endinject-->
</body>
</html>